@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using MudBlazor.Utilities

<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="h-100">
    <MudAppBar Elevation="1">
        <a href="/" class="d-xl-flex flex-row align-items-center" style="display:flex !important">
            <MudText Typo="Typo.h6" Class="fw-bold">네이버 웹툰 다운로더</MudText>
        </a>
    </MudAppBar>
    <MudDivider />
    <MudMainContent Style="height: calc(100% - 50px); overflow-y:auto">
        @Body
    </MudMainContent>
    <MudTabs Elevation="2" MinimumTabWidth="30px" Centered="true" @bind-ActivePanelIndex="_selectedIndex">
        <MudTabPanel OnClick="@((e) => OnTabClick("/"))" Text="홈" Icon="@Icons.Material.Filled.Home"></MudTabPanel>
        <MudTabPanel OnClick="@((e) => OnTabClick("/download/list"))" Text="다운로드" Icon="@Icons.Material.Filled.Download"></MudTabPanel>
        <MudTabPanel OnClick="@((e) => OnTabClick("/view/list/webtoons"))" Text="뷰어" Icon="@Icons.Material.Filled.List"></MudTabPanel>
        <MudTabPanel OnClick="@((e) => OnTabClick("/settings"))" Text="설정" Icon="@Icons.Material.Filled.Settings"></MudTabPanel>
    </MudTabs>
</MudLayout>

@code {
    private int _selectedIndex;

    protected override void OnInitialized()
    {
        SetTabIndexBasedOnUri(Navigation.Uri);
        Navigation.LocationChanged += (sender, args) =>
        {
            SetTabIndexBasedOnUri(args.Location);
            StateHasChanged(); // UI 갱신
        };
    }

    private void SetTabIndexBasedOnUri(string uri)
    {
        if (uri.Contains("download"))
        {
            _selectedIndex = 1;
        }
        else if (uri.Contains("view"))
        {
            _selectedIndex = 2;
        }
        else if (uri.Contains("settings"))
        {
            _selectedIndex = 3;
        }
        else
        {
            _selectedIndex = 0;
        }
    }

    private void OnTabClick(string url)
    {
        Navigation.NavigateTo(url);
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Green.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = new MudColor("ffffff"),
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}
