@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using MudBlazor.Utilities

<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="h-100">
    <MudAppBar Elevation="1">
        <a href="/" class="d-xl-flex flex-row align-items-center">
            <svg width="60" height="13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"><defs><path id="text_naver_svg__a" d="M0 0h10.875v11.436H0z"></path></defs><g fill="none" fill-rule="evenodd"><path d="m17.154 0-4.485 11.436h3.812l.541-1.514h4.299l.54 1.514h3.813L21.19 0h-4.036zm2.018 3.603 1.277 3.572h-2.556l1.279-3.572zM37.895 0v11.436h9.025V8.633h-5.382V7.09h5.214V4.345h-5.214V2.803h5.27V0zm-4.989 0-2.691 7.52L27.525 0h-3.813l4.485 11.436h4.036L36.717 0zM7.792 0v6.12L3.532 0H0v11.436h3.7v-6.12l4.26 6.12h3.531V0z" fill="#1E1E1E"></path><g transform="translate(48.714)"><mask id="text_naver_svg__b" fill="#fff"><use xlink:href="#text_naver_svg__a"></use></mask><path d="M5.494 5.325H3.532v-2.41h1.962a1.205 1.205 0 0 1 0 2.41zm2.49 2.187.347-.145c1.328-.556 2.005-1.76 2.005-3.287 0-1.445-.527-2.513-1.566-3.177C7.804.287 6.55 0 4.828 0H0v11.436h3.588V8.24h1.29l2.186 3.195h3.811L7.984 7.512z" fill="#1E1E1E" mask="url(#text_naver_svg__b)"></path></g></g></svg>
            <MudText Typo="Typo.h6" Class="fw-bold">&nbsp;웹툰 다운로더</MudText>
        </a>
    </MudAppBar>
    <MudDivider />
    <MudMainContent Style="height: calc(100% - 50px); overflow-y:auto">
        @Body
    </MudMainContent>
    <MudTabs Elevation="2" MinimumTabWidth="30px" >
        <MudTabPanel OnClick="@((e)=>OnTabClick("/"))" Text="홈" Icon="@Icons.Material.Filled.Home"> </MudTabPanel>
        <MudTabPanel OnClick="@((e)=>OnTabClick("/downloads"))" Text="다운로드" Icon="@Icons.Material.Filled.Download"> </MudTabPanel>
        <MudTabPanel OnClick="@((e)=>OnTabClick("/views"))" Text="웹툰 보기" Icon="@Icons.Material.Filled.List"> </MudTabPanel>
        <MudTabPanel OnClick="@((e)=>OnTabClick("/settings"))" Text="설정" Icon="@Icons.Material.Filled.Settings"> </MudTabPanel>
    </MudTabs>
</MudLayout>
@code {
    private void OnTabClick(string url)
    {
        Navigation.NavigateTo(url);
    }
    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Green.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = new MudColor("ffffff"),
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}